.card{
    position: relative;
    width: 300px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 9px 14px rgba(0,0,0,0.2);
    transition: transform 0.4s ease;
   
}
.card:hover{
     transform: rotate(1deg);
}
.card img{
    width: 100%;
    display:block;
    transition: transform 0.4s ease;
}

.card .caption{
    position: absolute;
    bottom: 0;
    background:rgba(0,0,0,0.6) ;
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px;
    opacity: 0;
    transition:opacity 0.4s ease ;
    
}

.card:hover img{
transform: scale(1.1);
}
.card:hover .caption{
    opacity: 1;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home{
    /* font-family: "Roboto", sans-serif;
    font-weight: 600;
    background-image: linear-gradient(rgba(0,0,0,0.75)), url(./ai-generated-8352992_1280.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    margin: 0; */
    /* color: whitesmoke; */
    /* color: aliceblue;
    text-align: center;
    padding: 10px;
    border-style:  */
}
.navbar{
    background-color: #0f172a;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}
.logo{
    font-size:1.5rem ;
    font-weight: bold;
}
.nav-links{
   list-style-type: none; 
   display: flex;
   gap: 2rem;
}
a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}
a:hover{
    color: #38bdf8;
}
body{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    background-image: linear-gradient(rgba(0,0,0,0.75)), url(./pro-studio-2937531_1280.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 85vh;
}