@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home{
    /* font-family: "Roboto", sans-serif;
    font-weight: 600;
    background-image: linear-gradient(rgba(0,0,0,0.75)), url(./ai-generated-8352992_1280.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    margin: 0; */
    /* color: whitesmoke; */
    /* color: aliceblue;
    text-align: center;
    padding: 10px;
    border-style:  */
}
.navbar{
    background-color: #0f172a;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}
.logo{
    font-size:1.5rem ;
    font-weight: bold;
}
.nav-links{
   list-style-type: none; 
   display: flex;
   gap: 2rem;
}
a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}
a:hover{
    color: #38bdf8;
}
.main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#home-heading{
    margin-bottom: 1.5rem;
    color: aliceblue;
    font-size: 50px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}
h2{
    margin-bottom: 4px;
    text-align: center;
}
.courses{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    background-image: linear-gradient(rgba(0,0,0,0.75)), url(./pro-studio-2937531_1280.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 85vh;
}
.main{
    background-image: linear-gradient(rgba(0,0,0,0.75)), url(./pro-studio-2937531_1280.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 90vh;
} 
/* .about{
    background-image: linear-gradient(rgba(0,0,0,0.75)), url(./musician-349790_1280.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    color:cornsilk;
} */
.form-container{

}
.about-section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    gap: 40px;
    flex-wrap: wrap;
    background-color: #e4d5e7;
}
.about-image{
    flex: 1  1 300px;
}
.about-image img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2));
}
.about-text{
    flex: 1  1 300px;
}
.about-text{
    font-size: 2em;
    margin-bottom: 200px;
}
.about-text{
    font-size: 1.2em;
    color: #555;
    margin-bottom: 15px;
    line-height: 1.6;
}
/* button:hover{
    background-color: #1e293b;
} */
button:hover{
    background-color: #1e293b;
}
button{
    width: 100%;
    padding: 0.7rem;
    background-color: #0f172a;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}